# For workload e:
# * Allow GET requests at path with prefix "/public".
# * Deny any other requests by default.

apiVersion: "security.istio.io/v1beta1"
kind: AuthorizationPolicy
metadata:
  name: policy-e
  namespace: "{{ .Namespace }}"
spec:
  selector:
    matchLabels:
      "app": "e"
  rules:
  - to:
    - operation:
        paths: ["/public*"]
        methods: ["GET"]
---
